<div class="l5r5e dice-roll">
    {{#if isPublicRoll}}

    {{#if l5r5e.stance}}
    <div class="l5r5e profil">
        <header class="part-header flexrow chat-profil">
            <span class="chat-profil-element">
                <img class="profile-img" src="{{#if l5r5e.actor.img}}{{l5r5e.actor.img}}{{else}}icons/svg/mystery-man.svg{{/if}}" data-edit="img" alt="{{#if l5r5e.actor.name}}{{l5r5e.actor.name}}{{else}}mystery-man{{/if}}" />
            </span>

            <span class="chat-profil-element">
                <i class="chat-profil-stance {{l5r5e.stance}} i_{{l5r5e.stance}}" title="{{localizeRing l5r5e.stance}}"></i>
            </span>

            <span class="chat-profil-element-skill">
                {{#if l5r5e.skillId}}
                    {{localizeSkillId l5r5e.skillId}}
                {{else}}
                    {{#if l5r5e.skillCatId}}{{localizeSkill l5r5e.skillCatId 'title'}}{{/if}}
                {{/if}}
            </span>

            <span class="chat-profil-element">
                {{#if l5r5e.difficultyHidden}}
                    {{localize 'l5r5e.chatdices.difficulty_hidden'}}
                {{else}}
                    {{localize 'l5r5e.chatdices.difficulty'}} {{l5r5e.difficulty}}
                {{/if}}
                <br>
                {{#if l5r5e.voidPointUsed}}
                    <i class="i_void" title="{{localize 'l5r5e.chatdices.void_point_used'}}"></i>
                {{/if}}
                {{#if l5r5e.skillAssistance}}
                    <i class="i_skill" title="{{l5r5e.skillAssistance}}x {{localize 'l5r5e.chatdices.assistance_used'}}"></i>
                {{/if}}
            </span>
        </header>
    </div>
    {{/if}}

    <div class="l5r5e dice-formula">{{#if l5r5e.initialFormula}}{{l5r5e.initialFormula}}{{else}}{{formula}}{{/if}}</div>

    <div class="l5r5e dice-result">
        {{#if l5r5e.dicesTypes.l5r}}
        <div class="l5r5e item-display dices-l5r">
            {{!-- Dices list --}}
            {{#each l5r5e.dices}}
                {{#if this.diceTypeL5r}}
                    {{#each this.rolls}}
                        <span class="l5r5e fas chat-dice {{this.classes}}">{{{this.result}}}</span>
                    {{/each}}
                {{/if}}
            {{/each}}

            {{!-- Roll & Keep Button --}}
            {{^if l5r5e.dicesTypes.std}}
            <button class="l5r5e chat-dice-rnk">{{localize "l5r5e.chatdices.roll_n_keep"}}</button>
            {{/if}}

            {{#l5r5e.summary}}
            {{!-- summary symbols --}}
            <div class="l5r5e dice-total dice-total-rnk">
                {{#if success}}
                    <i class="i_success" title="{{localize 'l5r5e.chatdices.successes'}}"></i>x{{success}}
                {{/if}}

                {{#if explosive}}
                    <i class="i_explosive" title="{{localize 'l5r5e.chatdices.explosives'}}"></i>x{{explosive}}
                {{/if}}

                {{#if opportunity}}
                    <i class="i_opportunity" title="{{localize 'l5r5e.chatdices.opportunities'}}"></i>x{{opportunity}}
                {{/if}}

                {{#if strife}}
                    <i class="i_strife" title="{{localize 'l5r5e.chatdices.strife'}}"></i>x{{strife}}
                {{/if}}
            </div>

            {{!-- Result text --}}
            {{#if ../l5r5e.difficultyHidden}}
                <div class="l5r5e dice-result-rnk unknown">
                    {{totalSuccess}} {{localize 'l5r5e.chatdices.successes'}}
                </div>
            {{else}}
                <div class="l5r5e dice-result-rnk {{#ifCond totalSuccess '>=' ../l5r5e.difficulty}}success{{else}}fail{{/ifCond}}">
                    {{#ifCond totalSuccess '>=' ../l5r5e.difficulty}}
                        {{localize "l5r5e.chatdices.success_text"}} <i title="{{totalBonus}} {{localize 'l5r5e.chatdices.successes'}}">({{totalBonus}} {{localize "l5r5e.chatdices.bonus_text"}})</i>
                    {{else}}
                        {{localize "l5r5e.chatdices.fail_text"}}
                    {{/ifCond}}
                </div>
            {{/if}}
            {{/l5r5e.summary}}
        </div>
        {{/if}}

        {{!-- Regular dices --}}
        {{#if l5r5e.dicesTypes.std}}
        <div class="l5r5e dices-std">
            {{#each results}}
            {{#each this.rolls}}
            <span class="l5r5e chat-dice">{{{this.result}}}</span>
            {{/each}}
            {{/each}}
        </div>

        {{{tooltip}}}
        <h4 class="l5r5e dice-total dice-total-std">{{total}}</h4>
        {{/if}}
    </div>

    {{/if}}
</div>

