<div class="dice-tooltip">
    {{#each chatData.parts}}
    {{#if this.display}}
    <section class="tooltip-part">
        <div class="dice">
            <header class="part-header flexrow">
                <span class="part-formula">{{this.formula}}</span>
                {{#if this.flavor}}<span class="part-flavor">{{this.flavor}}</span>{{/if}}
                {{#if this.isDieStd}}<span class="part-total">{{this.total}}</span>{{/if}}
            </header>
            <ol class="dice-rolls">
                {{#each this.rolls}}
                <li class="roll {{this.classes}}">{{{this.result}}}</li>
                {{/each}}
            </ol>
            <ol class="dice-rolls">
                <li class="roll">{{{addedResults.success}}}</li>
            </ol>
        </div>
    </section>
    {{/if}}
    {{/each}}

    {{#if chatData.l5r5e.dicesTypes.l5r}}
    {{#if chatData.displaySummary}}
    {{#chatData.l5r5e.summary}}
    <ul>
        <li>{{localize "l5r5e.chatdices.successes"}}: {{this.success}}</li>

        {{#if explosive}}
        <li>{{localize "l5r5e.chatdices.explosives"}}: {{this.explosive}}</li>
        {{/if}}

        {{#if opportunity}}
        <li>{{localize "l5r5e.chatdices.opportunities"}}: {{this.opportunity}}</li>
        {{/if}}

        {{#if strife}}
        <li>{{localize "l5r5e.chatdices.strife"}}: {{this.strife}}</li>
        {{/if}}

        {{#if difficulty}}
        <li>{{localize "l5r5e.chatdices.difficulty"}}: {{this.difficulty}}</li>
        {{/if}}
    </ul>
    {{/chatData.l5r5e.summary}}
    {{/if}}
    {{/if}}
</div>
