<tr data-group="advancements" data-tab="advancement_rank_{{rank}}" class="flexrow row advancement tab">
    <td class="curriculum" name="curriculum">{{#if advancement.data.in_curriculum}}<i class="fas fa-graduation-cap"></i> {{/if}}</td>
    <td class="name" name="advancement.name"><img src="{{ advancement.img }}" title="{{ advancement.name }}"> {{ advancement.name }}</td>
    <td class="xp" name="advancement.xp">{{ advancement.data.xp_used }}</td>
    <td class="rank" name="advancement.rank">{{ advancement.data.rank }}</td>
    {{#if editable}}
    <td class="actions">
        <ul>
            <li data-item-id="{{advancement._id}}" class="item-control item-curriculum" title="{{localize 'l5r5e.advancements.curriculum'}}"><i class="fas fa-graduation-cap"></i></li>
            <li data-item-id="{{advancement._id}}" class="item-control item-edit" title="{{localize 'l5r5e.global.edit'}}"><i class="fas fa-edit"></i></li>
            <li data-item-id="{{advancement._id}}" class="item-control item-delete" title="{{localize 'l5r5e.global.delete'}}"><i class="fas fa-trash"></i></li>
        </ul>
    </td>
    {{/if}}
</tr>