<li class="skill skill-wrapper">
    <label class="skill-content">
        <span class="dice-picker attribute-label rollable" data-skill="{{skillId}}">{{ localizeSkill categoryId skillId }}</span>
        <input
            class="centered-input select-on-focus"
            type="number"
            name="data.skills.{{categoryId}}.{{skillId}}"
            value="{{skill}}"
            data-dtype="Number"
            min="0"
            max="9"
            placeholder="0"
        />
    </label>
</li>
