{{#each data.splitItemsList as |cat type|}}
    <h3>
        {{localize (localize 'l5r5e.{type}s.title' type=type) }}
        {{#if ../editable}}
        <a data-item-type="{{type}}" class="item-control item-add" title="{{ localize 'l5r5e.global.add'}}"><i class="fas fa-plus"></i></a>
        {{/if}}
    </h3>
    <ul class="item-list">
        {{#each cat as |item id|}}
            {{> 'systems/l5r5e/templates/items/item/item-entry.html' item=item id=id editable=../../editable }}
        {{/each}}
    </ul>
{{/each}}