<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- properties Tab --}}
        <article class="attributes" data-group="primary" data-tab="checkbox">
            <label class="equipped checkbox">
                <input type="checkbox" name="data.equipped" {{checked item.data.equipped}} />
                {{ localize 'l5r5e.armors.equipped' }}
            </label>
            {{> 'systems/l5r5e/templates/items/item/item-value.html' }}
        </article>
        <article class="properties" data-group="primary" data-tab="properties">
            {{> 'systems/l5r5e/templates/items/property/properties.html' properties=data.propertiesList }}
        </article>
        {{> 'systems/l5r5e/templates/items/item/item-infos.html' }}
    </section>
</form>
